        <div class="panel panel-default post-form-panel">
            <div class="panel-body row">
                <div class="col-sm-1">
                    <img src="/avatar.png" height="35px" width="35px" class="rounded-img"></img>
                </div>
                <div class="col-sm-11">
                  <%= form_for(@newPost) do |f| %>
                    <div class="field" style="margin-left: 10px;">
                      <%= f.text_field :content, autofocus: true, class: "form-control" %>
                      <span type="button" style="float: right; margin-top: 5px;"><%= f.submit "Dodaj post", class: "btn btn-primary"%></span>
                    </div>
                    
                  <% end %>

                </div>
                <div class="col-sm-12 col-centered">

                </div>
              
            </div>
        </div>

